/*Осн.стили для всех блоков*/

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}


.title {
	padding-top: 100px;  /*отступ сверху*/
	padding-bottom: 70px ;
}

.title_main {
	font-size: 33px;
	text-align: center;
}

.title_text {
	font-size: 20px;
    text-align: center;
}
p {
	font-size: 20px;
   
}


/* 1 экран */

.header {

	background-image: url(img/background.jpg)  ;
	background-repeat: no-repeat;
	background-size: 100% ; 
	padding-bottom: 105px;
}

.logo {
    margin-top:8px;
}

.menu {
    margin-top:8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size:22px;
    font-weight:700;
    color: #000;
}

.offer{
	margin-top: 117px;
}

.offer__title {
    font-size:32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}

.offer__text {
    font-size: 16px;
    margin-top:15px;
    color: #555555;
    width: 400px;
}

.icons__item {
    margin-right:30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease; /* плавная анимация*/
}

.icons__item a:hover {
    text-decoration: none;
    color: #ff4800;
}  /* анимация при наведении на иконки*/

.ipad{
	display: block;
	margin:60px auto 0;
}

/* 2 экран*/

.feature {
    margin-bottom: 65px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000
}

.feature__text {
    color: #898989
}

section {
   font-family: 'Raleway', sans-serif; 
}


